*.aux
output.log
Tesis.acn
Tesis.acr
Tesis.alg
Tesis.bbl
Tesis.blg
Tesis.glg
Tesis.glo
Tesis.gls
Tesis.idx
Tesis.ilg
Tesis.ind
Tesis.lof
Tesis.log
Tesis.lot
Tesis.pdf
Tesis.out
Tesis.toc
Tesis.xdy
Tesis.synctex.gz
Tesis.texnicle
typeset.log
.DS_Store
images/.DS_Store
